<head>
		<meta charset="utf-8">
		<title>
		{%if page.title %}
			{{ page.title }}
		{% else %}
				{{ site.title }}
		{% endif %}
	</title>
    <!-- <title>SimpleID - Blog</title> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon.ico">
		<link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <link rel="manifest" href="/manifest.json">
    <meta name="description" content="The official SimpleID blog.">
    <meta name="keywords" content="Authentication, Storage, Secure, Oauth, Simple, Encryption, Blockstack, Ethereum, Blockchain, Decentralization, Engagement, Re-engagement, Retention, Analytics">
		{% seo %}
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://blog.simpleid.xyz">
		<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <meta property="og:locale" content="en_US">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:image" content="{{ page.featured-image }}" />
		<meta property="og:site_name" content="WebJeda Blog">
		<meta property="article:publisher" content="http://www.facebook.com/webjeda" />
		<meta property="article:author" content="https://www.facebook.com/sharu725" />
		<meta property="article:published_time" content="{{ page.date }}" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
				
		<meta name="twitter:site" content="@stealthyinc">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
    <meta name="twitter:image" content="{% if page.featured-image %}{{ page.featured-image }}{% else %}{{ '/assets/img/OGCard1.png' }}{% endif %}">
    <!-- Begin loading animation -->
    <link href="/assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      const hostName = window.location.hostname
      const isDevelopment = (hostName === '' || hostName === 'localhost' || hostName === '127.0.0.1');

      const amplitudeKey = (isDevelopment) ? 'f44acee7b5df07742070770017e1cc64' :
                                             'cacaa44d1730abe2439279a160e5e8c1';
    </script>

    <!--Amplitude - inline for perf. -->
  	<script type="text/javascript">
  	  (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
  	  ;r.type="text/javascript"
  	  ;r.integrity="sha384-d/yhnowERvm+7eCU79T/bYjOiMmq4F11ElWYLmt0ktvYEVgqLDazh4+gW9CKMpYW"
  	  ;r.crossOrigin="anonymous";r.async=true
  	  ;r.src="https://cdn.amplitude.com/libs/amplitude-5.2.2-min.gz.js"
  	  ;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
  	  console.log("[Amplitude] Error: could not load SDK")}}
  	  ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
  	  ;function s(e,t){e.prototype[t]=function(){
  	  this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
  	  var o=function(){this._q=[];return this}
  	  ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
  	  ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
  	  ;return this}
  	  ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
  	  ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
  	  ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
  	  ;function v(e){function t(t){e[t]=function(){
  	  e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
  	  for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
  	  e=(!e||e.length===0?"$default_instance":e).toLowerCase()
  	  ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
  	  ;e.amplitude=n})(window,document);
  		//

  	  amplitude.getInstance().init(
  			amplitudeKey, null, { includeReferrer: true, includeUtm: true } );
  		//
  		function dbgLog(aString) {
  	    if (isDevelopment) { console.log(aString); }
  		}
  	</script>

  	<!-- Amplitude helper functionality -->
  	<script>
  		const simpleIdSystemVersion = "1.0.2"
  		amplitude.getInstance().setVersionName(simpleIdSystemVersion)
  		//
  		let lastPageVisited = getPageName()
  		//
  		// Returns the page name (i.e. reference / anchor on the site). For example,
  		// if the URL is .../index.html#cheese, this returns #cheese.
  		//
  		function getPageName() {
  			const pageName = window.location.hash
  			return (!pageName) ? '#home' : pageName
  		}
      //
      let sourceEventProperties = {}
      try {
        const urlString = window.location.href
        const url = new URL(urlString)
        const tCode = url.searchParams.get('t')
        const sCode = url.searchParams.get('s')

        if (sCode) {
          sourceEventProperties['s_code'] = sCode
        }
        if (tCode) {
          sourceEventProperties['t_code'] = tCode

          // Set the user property tCode for backward compatibility with
          // earlier versions of our Analytics.
          const identity = new amplitude.Identify().set('tCode', tCode)
          amplitude.getInstance().identify(identity)
        }
      } catch (suppressedError) {
        console.log(`tCode / sCode - suppressedError: ${suppressedError}`)
      }
      //
      // Wrapper to differentiate events from our different sites:
      //   MKT - Marketing
      //   DAS - Developer Dashboard
      //   HLO - Hello App
      //
      const eventPrefix = 'MKT'
      //
      function logEvent(anEventName, theEventProperties={}) {
        const eventName = `${eventPrefix} ${anEventName}`

        // All events have source properties attached now, so merge those in.
        const mergedEventProperties =
          Object.assign(theEventProperties, sourceEventProperties)

        let sMergedEventProperties = ''
        try {
          sMergedEventProperties = JSON.stringify(mergedEventProperties)
        } catch (suppressedError) {}
        dbgLog(`DBG(logEvent): ${eventName}, ${sMergedEventProperties}`)

        amplitude.getInstance().logEvent(eventName, mergedEventProperties)
      }
  		//
  		// Listen for & identify navigation changes
  		//
  		document.onmouseover = function() {
        window.innerDocClick = true		// User's mouse is inside the page.
      }
      //
      document.onmouseleave = function() {
        window.innerDocClick = false	// User's mouse has left the page.
      }
      //
      window.addEventListener('hashchange', function(event) {
        const page = getPageName()
  			const eventProperties = {
  				'previousPage': lastPageVisited,
  				'trigger': (window.innerDocClick ? 'site content' : 'browser button')
  			}
        var eventName = `${page} Visited`
  			logNavigate(page, eventProperties)

  			lastPageVisited = page
      }, false);
  		//
  		// Log the unloading of our page
  		window.onunload = function() {
  			const eventProperties = {
  				'page': getPageName()
  			}
  			logEvent('Site exited', eventProperties)
  		}
  		//
  		function logNavigate(page='', eventProperties={}) {
  			if (page) {
  				logEvent(`${page} visited.`, eventProperties)
  			}
  		}
  		//
  		function logButton(buttonName) {
  			logClick(`${buttonName} button pressed`)
  		}
  		//
  		function logLink(linkName) {
  			logClick(`${linkName} link clicked`)
  		}
  		//
  		function logClick(clickEventName, eventProperties={}) {
  			if (clickEventName) {
  				eventProperties['page'] = getPageName()
  				logEvent(clickEventName, eventProperties)
  			}
  		}
      //
      function logSiteLoad() {
        logEvent('Site Loaded')
        logNavigate(getPageName())
      }
  		//
  		logSiteLoad()
  	</script>
  </head>